/* RESET */
img{
    max-width: 100%;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* LAYOUT */
#app{
    height: 100vh;
  }


aside{
    width: 70px;
}

.app_body{
    flex-grow: 1;
}

/* HEADER */

.logo{
    width: 45px;
    aspect-ratio: 1;
    display: block;
}

.header_bar :first-child{
    flex-shrink: 0;
} 

header .form-control{
    line-height: 40px;
    background-color: #E5E5E5;
    border: none;
    font-size: 14px;
}

header{
    padding: 14px 0;
    background-color: #F8F9FA;
}

.header_bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.sheader_nav :last-child{
    display: none;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
}

.header_nav li:last-of-type{
    color: #FF8F00;
}

/* ASIDE */
.app_body{
    background-color: #FF8F00;
}

aside{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

.aside_nav{
    padding: 30px 22px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 20px;
}

.aside_nav li:hover{
    background-color: #7c8085;
}

/* MAIN */

.castom_color{
    background-color: #1B72E8;
    color: white;
}

/* OFFCANVAS */

.fullscreen{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100vw !important;
    height: 100vh !important ;
    z-index: 1050 !important;
    overflow-x: hidden !important ;
    overflow-y: auto !important;
    background-color: white !important;
    transition: transform 0.3s ease-in-out !important;
} 




    /* MEDIA QUERYs */
@media (min-width: 768px){
aside{
    min-width: 150px;
  } 



.fullscreen{
    position: fixed !important;
    top: 0 !important;
    right:0 !important;
    width: 40vw !important;
    height: 100vh !important ;
    z-index: 1050 !important;
    overflow-x: hidden !important ;
    overflow-y: auto !important;
    background-color: white !important;
    transition: transform 0.3s ease-in-out !important;
}


}

