/* RESET */
img{
    max-width: 100%;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* LAYOUT */
#app{
    height: 100vh;
  }

.container-fluid{
    background-color: black;
    padding: 0;
    height: 100%;
}

aside{
    width: 70px;
}

.app_body{
    flex-grow: 1;
}

/* HEADER */
.logo_header_lg{
    display: none;
}

.logo{
    width: 45px;
    aspect-ratio: 1;
    display: block;
}

.header_bar :first-child{
    flex-shrink: 0;
} 

header .form-control{
    line-height: 40px;
    background-color: #E5E5E5;
    border: none;
    font-size: 14px;
}

header{
    padding: 14px 0;
    background-color: #F8F9FA;
}

.header_bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.sheader_nav :last-child{
    display: none;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
}

.header_nav li:nth-child(-n+3) {
    display: none;
}

.header_nav li:last-of-type{
    color: #FF8F00;
}

/* ASIDE */
.app_body{
    background-color: #FF8F00;
}

aside{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

aside span{
    display: none;
}

.aside_nav{
    padding: 30px 22px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 20px;
}

.flex_grow{
    flex-grow: 1;
}


    /* MEDIA QUERYs */

 @media (min-width: 768px){
aside{
    min-width: 150px;
  } 

aside span{
    display: inline-block;
    padding-left: 10px;
}

.logo_header_lg{
    display: block;
}

.header_nav li {
    display: flex !important;
}

.logo{
    display: none !important;
}



}